@charset "utf-8";
/* CSS Document */

.menu-wrapper {
	height: 30px;
/*	background-color: red;*/
}
.menu-wrapper ul {
	height:30px;
	list-style:none;
	float:left;
	
}
.menu-wrapper ul li {
	float:left;
	position:relative;
}
.dot-icon{
	background:url(../images/menu-logo.png) 0 0 no-repeat;
	}
.menu-wrapper ul li a {
	height:21px;
	text-decoration:none;
	color:#fff;
	font-weight:100;
	display:block;
	padding: 3px 8px 3px 30px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}
.menu-wrapper ul li a:hover, .menu-wrapper ul li a.active {
	background-color:#49366d;
	padding: 3px 8px 3px 30px;
	margin:0;
}
/*-------------------sub menus---------------*/
.menu-wrapper ul li ul {
	width:186px;
	height:38px;
	min-height:38px;
	height:auto !important;
	padding:7px 0 3px 0;
	position:absolute;
	z-index:5;
/*	top:76px;*/
	display:none;
}
.menu-wrapper ul li:hover ul {
	display:block;
}
.menu-wrapper ul li ul li {
	width:186px;
	margin-bottom:2px;
	background-color:#5a93e9;
}
.menu-wrapper ul li ul li a {
	width:166px;
	height:50px;
	min-height:50px;
	height:auto !important;
	line-height:28px;
	padding:0 10px;
	display:block;
	text-decoration:none;
	color:#fffff;
	margin:0;
	background-color:#5a93e9;
	font-size:17px;
}
.menu-wrapper ul li ul li a:hover {
	background-color:#5a93e9;
	padding: 0 10px;
	margin:0;
}